.planet-data__container {
  padding: 80px 0;

  li {
    background-color: rgba(255, 255, 255, .15);
    height: 80px;
    width: 100%;
    list-style-type: none;
    color: #FFFFFF;
    margin: 16px 0; // causes white top/bottom
    border-radius: 20px;
    display: flex;
    align-items: center;

    &:hover {
      transition: all .25s ease-in-out;
      cursor: pointer;
      background-color: rgba(255, 255, 255, .35);
    }
  }

}

.planet-logo {
  background-color: aqua;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  margin: 0 16px;
  width: 32px;
  height: 32px;
}


