<div class="planet-details__container">
    <div class="planet-details__card">
        <div class="planet-details__header">
            <a href="/"><img src="../../../assets/back.svg"></a>
            <span>{{planetDetails.name}}</span>
        </div>
        <div class="planet-details__data">
            <div>
                <div class="data-row-separator">
                    <label>Rotation Period:</label>
                    <span>{{planetDetails.rotation_period}}</span>
                </div>
                <div class="data-row-separator">
                    <label>Orbital Period:</label>
                    <span>{{planetDetails.orbital_period}}</span>
                </div>
                <div class="data-row-separator">
                    <label>Diameter:</label>
                    <span>{{planetDetails.diameter}}</span>
                </div>
                <div class="data-row-separator">
                    <label>Climate:</label>
                    <span>{{planetDetails.climate}}</span>
                </div>
                <div class="data-row-separator">
                    <label>Gravity:</label>
                    <span>{{planetDetails.gravity}}</span>
                </div>
                <div class="data-row-separator">
                    <label>Terrain:</label>
                    <span>{{planetDetails.terrain}}</span>
                </div>
                <div class="data-row-separator">
                    <label>Surface Water:</label>
                    <span>{{planetDetails.surface_water}}</span>
                </div>
                <div class="data-row-separator">
                    <label>Population:</label>
                    <span>{{planetDetails.population}}</span>
                </div>

                <label>URL:</label>
                <span>{{planetDetails.url}}</span>
            </div>
            <div>
                <div *ngIf="residentsList.length > 0"
                     class="data-row-separator">
                    <label>Residents:</label>
                    <span *ngFor="let resident of residentsList">{{resident.name}}</span>
                </div>
                <div *ngIf="filmList.length > 0"
                     class="data-row-separator">
                    <label>Films:</label>
                    <span *ngFor="let film of filmList">{{film.title}}</span>
                </div>
            </div>
        </div>
        <div class="planet-details__footer">
            <div>
                <label>Created on </label>
                <span>{{planetDetails.created}}</span>
            </div>
            <div>
                <label>Edited on </label>
                <span>{{planetDetails.edited}}</span>
            </div>
        </div>

    </div>
</div>
