<div class="header">
    <span class="header-title">May the force be with you</span>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <input
                type="text"
                formControlName="planetName"
                class="search-input"
        placeholder="Search planet's name"/>
        <button class="search-button">
            <img src="../../../assets/search.svg" />
        </button>
    </form>
</div>
<div class="planet-list-container">
    <app-planet-data
            *ngIf="showPlanetList"
            (clickedPlanet)="showPlanetDetails($event)"
            [planets]="planetArrays"
            (scrollingFinished)="onScrollingFinished()">
    </app-planet-data>
    <app-planet-details
            *ngIf="!showPlanetList"
            [planetDetails]="sendPlanetDetails">
    </app-planet-details>
</div>
<div *ngIf=endOfPage class="footer">
    <span>End of page</span>
</div>
