.header {
  padding: 0 16px 0 24px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: #2A2E34;

  form {
    margin-right: 48px;
    display: flex;
  }
}

.header-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #FED053;
}

.search-input{
  height: 24px;
}

.search-button {
  height: 24px;
  width: 24px;
  align-items: center;
  cursor: pointer;

  img {
    height: 24px;
    width: 24px;
  }
}

.planet-list-container {
  width: 900px;
  margin: 0 auto;
}

.footer {
  margin: 8px 0 16px 0;
  text-align: center;
  color: #FFFFFF;
}
